<configuration>
	<appSettings>
		<add key="ApiBaseUrl" value="http://10.10.13.251:8080" />
		<add key="LoginEndpoint" value="login" />
		<add key="RegisterEndpoint" value="registro" />
		<add key="RolesEndpoint" value="roles" />
		<add key="UsuariosEndpoint" value="usuarios" />
		<add key="PrivateCamerasEndpoint" value="privateCameras" />
		<add key="PrivateRegionsEndpoint" value="privateRegions" />
	</appSettings>
</configuration>
